h1 {
color:red    
}
.header{
display: flex ;
background-color: aqua;
justify-content: space-between;   
}
.grid{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;    
}
.footer{
display: flex;
justify-content: flex-end;
    
}
.footer a{
    margin-left: 200px;   
}